h1 {
    position: relative;
    font-size: 40px;
    color: #000000;
    margin-left: 130px;
    padding: 50px;
}

.subClassNav {
    margin-bottom: 20px;
    padding-left: 100px;
    font-size: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px  2px #7d7d7d;
}

.subClassNav a{
    margin: 30px;
    margin-top: 50;
}

.subClassNav a:hover{
    color: #ff89f9;
    transition: all 0.3s;
}
.courseTitle{
    background-color: #8f89ff7c;
}

/* .mainSec{
    /* margin: 40px; 
} */

.mainSecFeu{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}

.mainSec h2{
    margin: 20px;
    
}

.mainSecFeu a{

    margin: 5px;
    margin-left: 40px;
}

.aboutCourse h3{
    margin: 5px;
    margin-left: 40px;  
}

.aboutCourse h3:hover{
    transform:rotateX(23,'angle');
}

.aboutCourse p{
    margin: 5px;
    margin-left: 60px;
}
    
.teachersClass{
    
    gap: 2rem;
    margin-top: 3rem;
}

.teacherBox{
    display: grid;
    /* position: ; */
    grid-template-columns: repeat(3 , 1fr);
    margin-left: 100px;
    padding: 0px 100px 00px 100px;
}
.teachers{
    background: var(--card-bg);
    border: 2px solid #ee8e8e;
    width: 100px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
}

.teachers:hover{
    border-color: #fb9393;
    box-shadow: 0px 0px 20px 0px #6767ff;    
}

.teachers a{
    /* font-display: ; */
    font-size: 20px;
}

.teachericon{
    width:100px;
    height:100px;
    /* margin: 0 auto 3rem; */
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(102, 126, 234, 0.2), rgba(240, 147, 251, 0.2));
    transition: all 0.3s;
}